/* Images in the "Cheeses detail" */
.img-polaroid {
	width: 200px;
	height: 150px;
	margin-top: 80px;
}
/* Text content */
.row {
	margin-top: 100px;
	text-align: center;
}

.sub_row {
	margin-top: 60px;
}
