{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

<div class="row">
    <div class="span12">

        <h2>Welcome to Cheesely</h2>

        <h5>Cheesely is a one-stop place for cheese lovers and cheese
	producers to share cheese.</h5>

	<div class="sub_row">
		<h4>View <a href="{% url 'cheeses:list' %}">Cheeses</a> or
		<a href="{%  url 'registration_register' %}">sign up</a> to add more!</h4>
	</div>
    </div>
</div>
<div class="cheese_pic">
	<img src="/static/img/fromage.jpg" alt="cheeses">
	<p> credit - <a href="http://passeportsante.net">passeportsante.net</a> </p>
</div>
{% endblock content %}
